.button-brand {
    background-color: var(--color-brand-1);
    border: none;
    border-radius: var(--radius-default);
    padding: 0.75rem 2rem;
    color: var(--color-grey-6);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.button-brand:hover {
    background-color: var(--color-brand-2);
    box-shadow: 0 0 15px 0px var(--color-brand-1);
    transition: var(--transition-default);
}

.button-apply {
    width: 100%;
}

.button-trash {
    width: 2.75rem;
    height: 2.375rem;
    border: none;
    background-color: var(--color-grey-5);
    border-radius: var(--radius-default);
    cursor: pointer;
}

.button-trash img {
    pointer-events: none;
}

.button-trash:hover {
    background-color: var(--color-grey-3);
    box-shadow: 0 0 25px -8px;
    transition: var(--transition-default);
}