.title1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 4.5rem;
}

.title2 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.75rem;
}

.title3 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
}

.title4 {
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 2.05rem;
}

.title5 {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.7rem;
}

.text1 {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 2.25rem;
}


.text2 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}


.text3 {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
}

.color-grey1 {
    color: var(--color-grey-1);
}


.color-grey2 {
    color: var(--color-grey-2);
}

.color-grey3 {
    color: var(--color-grey-3);
}


.color-grey5 {
    color: var(--color-grey-6);
}


.color-grey6 {
    color: var(--color-grey-6);
}

