@media (min-width: 44rem) {
    .container {
        width: 100%;
        max-width: 87.5rem;
    }

    header {
        width: 100%;
        max-width: 55.8rem;
    }
    .title-desktop {
        margin: unset;
        width: 100%;
        max-width: 54rem;
    }

    .main-desktop {
        flex-direction: row;
        justify-content: space-between;
    }

    .job {
        width: 100%;
        max-width: 54rem;
    }

    .job .button-apply {
        max-width: 15rem;
    }

    aside {
        height: max-content;
        position: relative;
        top: 50px;
        margin: 0;
        max-width: unset;
        min-width: 18rem;
        width: 28rem;
    }


}